<!DOCTYPE html>
<html>
	<head>
	  <title>Bp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="/static/css/master.css" />

	  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
	  <%= csrf_meta_tags %>
	</head>
<body>

<%= yield %>

	<!-- FOR DEV ONLY, REFACTOR TO BE BUILDS, BUT SCRIPT ORDER NEEDS PRESERVING: MODULARRRR -->

	<!-- LIBS -->
  	<script src="/js/lib/underscore-1.8.3.js" type="text/javascript"></script>
	<script src="/js/lib/backbone-1.2.3.js" type="text/javascript"></script>

	<!-- OUR SOURCE -->
	<script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
